.row
  include ../plugins/audioPlayer
  hr
  .col-lg-12
    .col-md-8
      a(href="./policies/terms") Terms of Service
      | &nbsp;|&nbsp;
      a(href="./policies/privacy") Privacy Policy
    .col-md-4
      p.muted.pull-right Version #{version}