li
    a(href='./messages#')
      div
        strong John Smith
        span.pull-right.text-muted
          em Yesterday
      div
        | Hey, I have to show up late today, my dog ate my homework, then my cat [...]
li.divider
li
    a.text-center(href='./messages')
      strong Read All Messages
      i.fa.fa-angle-right