extends ../layouts/layout
block title
    i.fa.fa-user.fa-fw
    | Artists
block content
    .container.bootstrap.snippet
      .row
        .col-lg-8
          .panel.panel-default
            .panel-body.p-t-0
              .input-group
                input#example-input1-group2.form-control(type='text', name='example-input1-group2', placeholder='Search Artist')
                span.input-group-btn
                  button.btn.btn-effect-ripple.btn-primary(type='button')
                    i.fa.fa-search
      .row
      .panel
        .panel-body.p-t-10
          .media-main
            a.pull-left(href='#')
              img.thumb-lg.img-circle.bx-s(src='http://bootdey.com/img/Content/user_1.jpg', alt='')
            .pull-right.btn-group-sm
              a.btn.btn-success.tooltips(href='#', data-placement='top', data-toggle='tooltip', data-original-title='Edit')
                i.fa.fa-pencil
            .info
              h4 Jonathan Smith
              p.text-muted Graphics Designer
          .clearfix
          hr
          ul.social-links.list-unstyled.p-b-10
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Facebook')
                i.fa.fa-facebook
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Twitter')
                i.fa.fa-twitter
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='LinkedIn')
                i.fa.fa-linkedin
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Skype')
                i.fa.fa-skype
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Message')
                i.fa.fa-envelope-o
      .panel
        .panel-body.p-t-10
          .media-main
            a.pull-left(href='#')
              img.thumb-lg.img-circle.bx-s(src='http://bootdey.com/img/Content/user_2.jpg', alt='')
            .pull-right.btn-group-sm
              a.btn.btn-success.tooltips(href='#', data-placement='top', data-toggle='tooltip', data-original-title='Edit')
                i.fa.fa-pencil
            .info
              h4 Jonathan Smith
              p.text-muted Graphics Designer
          .clearfix
          hr
          ul.social-links.list-unstyled.p-b-10
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Facebook')
                i.fa.fa-facebook
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Twitter')
                i.fa.fa-twitter
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='LinkedIn')
                i.fa.fa-linkedin
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Skype')
                i.fa.fa-skype
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Message')
                i.fa.fa-envelope-o
      .panel
        .panel-body.p-t-10
          .media-main
            a.pull-left(href='#')
              img.thumb-lg.img-circle.bx-s(src='http://bootdey.com/img/Content/user_3.jpg', alt='')
            .pull-right.btn-group-sm
              a.btn.btn-success.tooltips(href='#', data-placement='top', data-toggle='tooltip', data-original-title='Edit')
                i.fa.fa-pencil
            .info
              h4 Jonathan Smith
              p.text-muted Graphics Designer
          .clearfix
          hr
          ul.social-links.list-unstyled.p-b-10
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Facebook')
                i.fa.fa-facebook
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Twitter')
                i.fa.fa-twitter
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='LinkedIn')
                i.fa.fa-linkedin
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Skype')
                i.fa.fa-skype
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Message')
                i.fa.fa-envelope-o
      .panel
        .panel-body.p-t-10
          .media-main
            a.pull-left(href='#')
              img.thumb-lg.img-circle.bx-s(src='http://bootdey.com/img/Content/user_1.jpg', alt='')
            .pull-right.btn-group-sm
              a.btn.btn-success.tooltips(href='#', data-placement='top', data-toggle='tooltip', data-original-title='Edit')
                i.fa.fa-pencil
            .info
              h4 Jonathan Smith
              p.text-muted Graphics Designer
          .clearfix
          hr
          ul.social-links.list-unstyled.p-b-10
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Facebook')
                i.fa.fa-facebook
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Twitter')
                i.fa.fa-twitter
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='LinkedIn')
                i.fa.fa-linkedin
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Skype')
                i.fa.fa-skype
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Message')
                i.fa.fa-envelope-o
      .panel
        .panel-body.p-t-10
          .media-main
            a.pull-left(href='#')
              img.thumb-lg.img-circle.bx-s(src='http://bootdey.com/img/Content/user_2.jpg', alt='')
            .pull-right.btn-group-sm
              a.btn.btn-success.tooltips(href='#', data-placement='top', data-toggle='tooltip', data-original-title='Edit')
                i.fa.fa-pencil
            .info
              h4 Jonathan Smith
              p.text-muted Graphics Designer
          .clearfix
          hr
          ul.social-links.list-unstyled.p-b-10
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Facebook')
                i.fa.fa-facebook
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Twitter')
                i.fa.fa-twitter
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='LinkedIn')
                i.fa.fa-linkedin
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Skype')
                i.fa.fa-skype
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Message')
                i.fa.fa-envelope-o
      .panel
        .panel-body.p-t-10
          .media-main
            a.pull-left(href='#')
              img.thumb-lg.img-circle.bx-s(src='http://bootdey.com/img/Content/user_3.jpg', alt='')
            .pull-right.btn-group-sm
              a.btn.btn-success.tooltips(href='#', data-placement='top', data-toggle='tooltip', data-original-title='Edit')
                i.fa.fa-pencil
            .info
              h4 Jonathan Smith
              p.text-muted Graphics Designer
          .clearfix
          hr
          ul.social-links.list-unstyled.p-b-10
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Facebook')
                i.fa.fa-facebook
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Twitter')
                i.fa.fa-twitter
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='LinkedIn')
                i.fa.fa-linkedin
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Skype')
                i.fa.fa-skype
            li
              a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Message')
                i.fa.fa-envelope-o
