extends ./layout
block pageTitle
    title Created
block Title
    a.fa-chevron-left.fa(href="./login")
    | Account Created
block content
    p Thank you for creating an account
    br
    p Please continue to the 
      a(href="./login") login page