extends ./layout
block pageTitle
        title Finish Creating Account
block style
  link(rel='stylesheet' href='../bower_components/jquery-ui/themes/base/jquery-ui.css')
block content
      .form-group
        label(for='grade') Grade
        select.form-control(name='grade')
          option(value='8') 8
          option(value='9') 9
          option(value='10') 10
          option(value='11') 11
          option(value='12') 12
      .form-group
        input.form-control(placeholder='Student ID # (e.g. 9682651)', name='studentId', type='text')
      .form-group
        p
          label(for='amount') Vocal range:
          input#amount(type='text', readonly='')
        #slider-range
block scripts
  script(src='../js/vocalRange.js')
  script(type='text/javascript').
    $( function() {
        $( "#slider-range" ).slider({
          range: true,
          min: 0,
          max: Object.keys(vocalRange).length - 1,
          values: [ 23, 48 ],
          slide: function( event, ui ) {
            $( "#amount" ).val( "" + vocalRange[ui.values[ 0 ]] + " - " + vocalRange[ui.values[ 1 ]] );
          }
        });
        $( "#amount" ).val( "" + vocalRange[$( "#slider-range" ).slider( "values", 0 )] +
          " - " + vocalRange[$( "#slider-range" ).slider( "values", 1 )] );
      } );